@import './flex.scss';
@import './variables.scss';

@function pow($base, $exp) {
    $res: 1;
    @for $i from 1 through $exp {
        $res: $res * $base;
    }
    @return $res;
}

@each $name, $color in $colors {
    .c-#{$name} {
        color: $color;
    }

    .b-#{$name} {
        background-color: $color;
    }

    @for $i from 1 through 10 {
        .br-#{$name}-#{$i} {
            border: solid $color $i + px;
        }
    }
}

@for $i from 1 through 600 {
    .h-#{$i} {
        height:  $i + px;
    }
    .w-#{$i} {
        width:  $i + px;
    }
    .pa-#{$i} {
        padding:  $i + px;
    }
    .ph-#{$i} {
        padding-left:  $i + px;
        padding-right:  $i + px;
    }
    .pt-#{$i} {
        padding-top: $i + px;
    }
    .ma-#{$i} {
        margin:  $i + px;
    }
    .mt-#{$i} {
        margin-top:  $i + px;
    }
    .ml-#{$i} {
        margin-left:  $i + px;
    }
    .mb-#{$i} {
        margin-bottom: $i + px;
    }
}
.w50 {
    width: 50%;
}

.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.h20 {
    height: 20%;
}

.h30 {
    height: 30%;
}

.w70 {
    width: 70%;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.h70 {
    height: 70%;
}

.h80 {
    height: 80%;
}

.margin-auto {
    margin: auto;
}

.rb {
    border: none;
}

.ru {
    text-decoration: none;
    color: white;
}

.ul {
    text-decoration: underline;
}

.nopadding {
    padding: none;
}

.op {
    opacity: 0.6;
}

.rm {
    margin: 0;
}

.pr {
    position: relative;
}

.textcenter {
    text-align: center;
}

@for $i from 1 to 101 {
    .bb-#{$i} {
        border-bottom: solid grey $i + px;
    }
    .bt-#{$i} {
        border-top: solid black $i + px;
    }
    .bl-#{$i} {
        border-left: solid black $i + px;
    }
    .bright-#{$i} {
        border-right: solid black $i + px;
    }
    .bradius-#{$i} {
        border-radius: $i + px;
    }
    .fs-#{$i} {
        font-size: $i + px;
    }
}

.dn {
    display: none;
}

.pa {
    position: absolute;
}

.activity-bg {
    background-image: url('../images/activityIllustration.jpg');
    background-size: cover;
}

.modal {
    font-size: 12px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .content {
    width: 60%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }

  h2 {
    margin: 0;
  }
  
  h4 {
    margin: 0;
  }

  body {
      margin: 0;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }

   .box {
       width: 100%;
       height: 100%;
   }

   .btn {
       border-radius: 5px;
       border: none;
       background-color: orange;
   }

   input {
    height: 30px;
    font-size: 15px;
    width: 90%;
    border-radius: 5px;
    margin-bottom: 20px;
  }



  